<% user=User.find(params[:id]) %>
    <div class="container-child col-md-6">
        <h2>フォローユーザー</h2>
        <% user.followed_users.each do |fu| %>
        <%= profile_img(fu) %>
        <%= fu.email %>
        <br>
        <% end %>
        </div>
        <div class="container-child col-md-6">
        <h2>フォロワーユーザー</h2>
        <% user.followers.each do |f| %>
        <%= profile_img(f) %>
        <%= f.email %>
        <br>
        <% end %>
      </div>
      <div class="container-child col-md-12">
<center><p><%= link_to "一覧へ", users_path %></p></center>
</div>